# Mandatory
# it is the minimum number of minutes from the CompletedDate
# that a TransformationOrder will be kept in memory.
# The keeping_period shall be an integer.
keeping_period: 14400  # minutes

# Optional, default empty list
# The list of workflows id to be excluded
excluded_workflows: []

# Optional, default true
# it enables authorization check
enable_authorization_check: true

# Optional, default true
# it enables the resource monitoring
enable_monitoring: true

# Optional, default 10
# define the polling time for monitoring statistics computation
monitoring_polling_time_s: 10

# Optional, default true
# it enables quota configuration
enable_quota_check: true

# Optional, default true
# it enables traceability pushing traces on the configured Traceability Service
enable_traceability: true

# list of workflows for which the trace should not be sent
# default empty list
untraced_workflows: []

# role configuration
# - quota is maximum number of transformation orders in progress or queued per user
# - profile can ben "manager" or "user"

# Optional, default quota: 2, profile: user
# Default role configuration
default_role:
    quota: 2
    profile: user

# Optional, default empty dictionary
# Custom roles configuration
# roles:
#   <role>:
#       quota: 1000
#       profile: manager
